/* 导航栏样式 */
#add_order .divHead {
  width: 100%;
  height: 46rem;
  background: #ffffff;
  position: relative;
}
#add_order .divHead .divTitle {
  width: 100%;
  font-size: 16rem;
  text-align: center;
  line-height: 46rem;
  letter-spacing: 0;
  position: absolute;
}
#add_order .divHead .divTitle i {
  position: absolute;
  left: 8rem;
  top: 30%;
}

/* 主体样式 */
#add_order .divContent {
  height: 100vh;
  overflow-y: auto;
  padding: 0 10rem 125rem 10rem;
  box-sizing: border-box;
}
#add_order .divContent .divSplit {
  height: 1rem;
  background-color: #ebebeb;
  margin: 15rem 0;
}

/* 地址样式 */
#add_order .divContent .divAddress {
  background: #ffffff;
  border-radius: 8rem;
  position: relative;
  margin-top: 10rem;
  padding: 15rem 10rem;
}
#add_order .divContent .divAddress .haveAddress .address {
  font-size: 18rem;
  font-weight: 500;
  text-align: left;
  color: #333333;
  margin-bottom: 5rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 330rem;
}
#add_order .divContent .divAddress .haveAddress .info {
  font-size: 14rem;
  font-weight: 400;
  text-align: left;
  color: #333333;
}
#add_order .divContent .divAddress .haveAddress .info span:first-child {
  margin-right: 15rem;
}
#add_order .divContent .divAddress .haveAddress i {
  font-size: 15rem;
  color: #c5c5c5;
  position: absolute;
  right: 5rem;
  top: 18rem;
}
#add_order .divContent .divAddress .noAddress img {
  width: 28rem;
  height: 28rem;
  vertical-align: middle;
  margin-right: 5rem;
}
#add_order .divContent .divAddress .noAddress span {
  font-size: 16rem;
  font-weight: 500;
  color: #ffc200;
  vertical-align: middle;
}
#add_order .divContent .divAddress .noAddress i {
  font-size: 15rem;
  color: #c5c5c5;
  position: absolute;
  right: 5rem;
  top: 12rem;
}
#add_order .divContent .divAddress .divDeliveryTime {
  display: flex;
  justify-content: space-between;
  font-size: 14rem;
  color: #333333;
}
#add_order .divContent .divAddress .divDeliveryTime span:last-child{
  color: #348bed;
  letter-spacing: 1rem
}

/* 订单详细样式 */
#add_order .divContent .order {
  background: #ffffff;
  border-radius: 8rem;
  margin-top: 10rem;
  padding: 15rem 10rem;
}
#add_order .divContent .order .title {
  font-size: 14rem;
  font-weight: 500;
  text-align: left;
  color: #333333;
  letter-spacing: 0;
}
#add_order .divContent .order .itemList .item {
  display: flex;
  position: relative;
  margin-bottom: 15rem;
}
#add_order .divContent .order .itemList .item .van-image {
  width: 60rem;
  height: 60rem;
  border-radius: 5rem;
  margin-right: 10rem;
}
#add_order .divContent .order .itemList .item .van-image__error {
  border-radius: 5rem;
}
#add_order .divContent .order .itemList .item .desc .name {
  opacity: 1;
  font-size: 14rem;
  font-weight: 400;
  text-align: left;
  color: #333333;
  letter-spacing: 0;
  margin-bottom: 2rem;
}
#add_order .divContent .order .itemList .item .desc .config {
  color: #9b9b9b;
  font-size: 12rem;
  margin-bottom: 7rem;
}
#add_order .divContent .order .itemList .item .desc .number {
  color: #9b9b9b;
  font-size: 12rem;
}
#add_order .divContent .order .itemList .item .price {
  position: absolute;
  right: 0;
  font-size: 14rem;
  font-weight: 400;
  letter-spacing: 2rem;
  text-align: left;
  color: #333333;
}
#add_order .divContent .order .itemList .item .price .spanMoney {
  font-size: 12rem;
}
#add_order .divContent .order .itemList .deliveryPrice {
  display: flex;
  justify-content: space-between;
  opacity: 1;
  font-size: 14rem;
  font-weight: 400;
  color: #333333;
}
#add_order .divContent .order .itemList .deliveryPrice .price {
  letter-spacing: 2rem;
}
#add_order .divContent .order .itemList .deliveryPrice .price .spanMoney {
  font-size: 12rem;
}
#add_order .divContent .order .subTotal {
  text-align: right;
  font-size: 14rem;
}
#add_order .divContent .order .subTotal .amount {
  font-size: 22rem;
  letter-spacing: 1rem;
}

/* 备注样式 */
#add_order .divContent .remark {
  background: #ffffff;
  border-radius: 8rem;
  margin-top: 10rem;
  padding: 15rem 10rem;
}
#add_order .divContent .remark .title {
  font-size: 14rem;
  font-weight: 500;
  text-align: left;
  color: #333333;
  letter-spacing: 0;
}
#add_order .divContent .remark .van-cell {
  padding: 0;
  font-size: 14rem;
}

/* 底部样式 */
#add_order .divBottom {
  width: 355rem;
  height: 50rem;
  background: rgba(0, 0, 0, 0.9);
  border-radius: 25rem;
  box-shadow: 0 3rem 5rem 0 rgba(0, 0, 0, 0.25);
  margin: 0 auto;
  bottom: 6rem;
  position: fixed;
  left: 50%;
  transform: translate(-50%, 0);
}
#add_order .divBottom .divAmount {
  height: 50rem;
  line-height: 50rem;
  font-size: 20rem;
  font-weight: 400;
  letter-spacing: 1rem;
  color: #ffffff;
  text-align: left;
  position: absolute;
  left: 20rem;
}
#add_order .divBottom .divAmount .spanMoney {
  font-size: 14rem;
}
#add_order .divBottom .btnPay {
  width: 105rem;
  height: 40rem;
  opacity: 1;
  border-radius: 25rem;
  font-size: 15rem;
  font-weight: 500;
  text-align: center;
  line-height: 40rem;
  position: absolute;
  right: 5rem;
  top: 5rem;
  color: #333333;
  background: #ffc200;
}