html,
body {
  max-width: 750px;
  height: 100%;
  background: #f3f2f7;
  font-family: Helvetica;
  overflow: hidden;
  /* 禁止选中文字 */
  moz-user-select: -moz-none;
  -moz-user-select: none;
  -o-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-touch-callout: none !important;
}

/* 以动画的方式解决vue语法出现在页面上的问题 */
@keyframes opacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
body {
  opacity: 0;
  animation: opacity 0ms ease-out 500ms forwards;
}

html,
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
li {
  margin: 0;
  padding: 0;
}

ul,
li {
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
}

h3 {
  font-size: 16px;
}

h4 {
  font-size: 14px;
}

p {
  font-size: 12px;
}

em,
i {
  font-style: normal;
}

@font-face {
  font-family: "DIN-Medium";
  src: url("../fonts/DIN-Medium.otf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "DIN";
  src: url("../fonts/DIN-Bold.otf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-weight: normal;
  font-style: normal;
}

.app {
  height: 100%;
}

.van-overlay {
  background-color: rgba(0, 0, 0, 0.3);
}

.van-dialog {
  overflow: inherit;
}

.van-radio__icon--checked .van-icon {
  background-color: #ffc200;
  border-color: #ffc200;
}

.van-checkbox__icon--checked .van-icon {
  background-color: #ffc200;
  border-color: #ffc200;
}

.van-dialog__confirm, .van-dialog__confirm:active {
  color: #ffc200;
}

.van-button::before {
  background-color: transparent;
  border-color: transparent;
}

.van-image {
  pointer-events: none;
}

::-webkit-input-placeholder {
  font-size: 14rem;
  font-weight: 400;
  text-align: left;
  color: #999999;
}

:-moz-placeholder {
  font-size: 14rem;
  font-weight: 400;
  text-align: left;
  color: #999999;
}

::-moz-placeholder {
  font-size: 14rem;
  font-weight: 400;
  text-align: left;
  color: #999999;
}

:-ms-input-placeholder {
  font-size: 14rem;
  font-weight: 400;
  text-align: left;
  color: #999999;
}