#main {
  background-color: #ffffff;
}
/** 头部样式 */
#main .divHead {
  background: url(../images/mainBG.jpeg) no-repeat;
  height: 109rem;
  background-size: contain;
}
#main .divHead img {
  position: absolute;
  left: 20rem;
  top: 30rem;
  width: 28rem;
  height: 28rem;
}
#main .divTitle {
  width: 345rem;
  height: 100rem;
  opacity: 1;
  background: #ffffff;
  border-radius: 6rem;
  box-shadow: 0 2rem 5rem 0 rgba(69, 69, 69, 0.1);
  position: absolute;
  left: 50%;
  top: 77rem;
  transform: translate(-50%, 0);
  box-sizing: border-box;
  padding: 14rem 0 0 8rem;
}
#main .divTitle .divStatic {
  display: flex;
}
#main .divTitle .divStatic .logo {
  width: 39rem;
  height: 39rem;
  opacity: 1;
  border-radius: 6rem;
  margin-right: 10rem;
}
#main .divTitle .divStatic .divDesc .divName {
  width: 90rem;
  height: 25rem;
  opacity: 1;
  font-size: 18rem;
  font-weight: 700;
  text-align: left;
  color: #20232a;
  line-height: 25rem;
}
#main .divTitle .divStatic .divDesc .divSend {
  opacity: 1;
  font-size: 11rem;
  font-weight: 400;
  text-align: left;
  color: #333333;
  margin-bottom: 10rem;
}
#main .divTitle .divStatic .divDesc .divSend img {
  width: 14rem;
  height: 14rem;
  opacity: 1;
  vertical-align: sub;
}
#main .divTitle .divStatic .divDesc .divSend span {
  margin-right: 12rem;
}
#main .divTitle .divStatic .divDesc .divSend span:last-child {
  margin-right: 0;
}
#main .divTitle > .divDesc {
  opacity: 1;
  font-size: 12rem;
  font-weight: 400;
  text-align: left;
  color: #9b9b9b;
  line-height: 17rem;
  margin-right: 18rem;
  padding-top: 9rem;
  border-top: 1rem dashed #ebebeb;
}

/* 主体样式 */
#main .divBody {
  display: flex;
  height: 100%;
}
#main .divBody .divType ul {
  background: #f6f6f6;
  margin-top: 69rem;
  overflow-y: auto;
  height: calc(100% - 61rem);
  padding-bottom: 200rem;
  box-sizing: border-box;
  width: 90rem;
  opacity: 1;
}
#main .divBody .divType ul li {
  padding: 15rem;
  opacity: 1;
  font-size: 12rem;
  font-weight: 600;
  text-align: center;
  color: #666666;
  line-height: 18rem;
  letter-spacing: 0;
  word-wrap: break-word;
  word-break: normal;
}
#main .divBody .divType ul li.active {
  color: #333333;
  font-weight: 600;
  background-color: #ffffff;
}
#main .divBody .divMenu {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
}
#main .divBody .divMenu > div {
  margin-top: 70rem;
  overflow-y: auto;
  height: calc(100% - 61rem);
  padding-bottom: 200rem;
  box-sizing: border-box;
}
#main .divBody .divMenu .divItem {
  margin: 10rem 10rem 15rem 10rem;
  display: flex;
}
#main .divBody .divMenu .divItem .van-image {
  width: 85rem;
  height: 85rem;
  border-radius: 5rem;
  margin-right: 15rem;
}
#main .divBody .divMenu .divItem .van-image__error {
  border-radius: 5rem;
}
#main .divBody .divMenu .divItem > div {
  position: relative;
}
#main .divBody .divMenu .divItem .divName {
  height: 22rem;
  opacity: 1;
  font-size: 16rem;
  font-weight: 600;
  text-align: left;
  color: #333333;
  line-height: 22rem;
  letter-spacing: 0;
  margin-bottom: 5rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 175rem;
}
#main .divBody .divMenu .divItem .divDesc {
  height: 16rem;
  opacity: 1;
  font-size: 10rem;
  font-weight: 400;
  text-align: left;
  color: #666666;
  line-height: 16rem;
  letter-spacing: 0rem;
  margin-bottom: 4rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 144rem;
}
#main .divBody .divMenu .divItem .divBottom {
  font-family: DIN, DIN-Medium;
  font-weight: 500;
  text-align: left;
  color: #e94e3c;
  line-height: 18rem;
  letter-spacing: 0;
}
#main .divBody .divMenu .divItem .divBottom span:first-child {
  font-size: 12rem;
}
#main .divBody .divMenu .divItem .divBottom span:last-child {
  font-size: 18rem;
}
#main .divBody .divMenu .divItem .divOpera {
  display: flex;
  position: absolute;
  right: 18rem;
  bottom: 0;
}
#main .divBody .divMenu .divItem .divOpera .divTypes {
  width: 64rem;
  height: 24rem;
  opacity: 1;
  background: #ffc200;
  border-radius: 12rem;
  font-size: 12rem;
  font-weight: 500;
  text-align: center;
  color: #333333;
  line-height: 24rem;
  letter-spacing: 0;
}
#main .divBody .divMenu .divItem .divOpera img {
  width: 36rem;
  height: 36rem;
}

/* 购物车样式 */
#main .divCart {
  width: 345rem;
  height: 44rem;
  opacity: 1;
  background: #000000;
  border-radius: 25rem;
  box-shadow: 0 3rem 5rem 0 rgba(0, 0, 0, 0.25);
  margin: 0 auto;
  bottom: 6rem;
  position: fixed;
  left: 50%;
  transform: translate(-50%, 0);
}
#main .divCartEmerge {
  z-index: 3000;
}
#main .divCart > div:first-child {
  width: 60rem;
  height: 60rem;
  position: absolute;
  left: 11rem;
  bottom: 0;
  background-size: 60rem 60rem;
}
#main .divCart .imgCart {
  background-image: url("../images/cart.png");
}
#main .divCart .imgCartActive {
  background-image: url("../images/cart_active.png");
}
#main .divCart .divGoodsNum {
  width: 18rem;
  height: 18rem;
  opacity: 1;
  background: #e94e3c;
  border-radius: 50%;
  text-align: center;
  font-size: 12rem;
  font-weight: 500;
  color: #ffffff;
  line-height: 18rem;
  position: absolute;
  left: 50rem;
  top: -5rem;
}
#main .divCart .divPrice {
  font-size: 20rem;
  font-family: DIN, DIN-Medium;
  font-weight: 500;
  text-align: left;
  color: #ffffff;
  letter-spacing: 0;
  position: absolute;
  left: 80rem;
  top: 5rem;
}
#main .divCart > div:last-child {
  width: 100rem;
  height: 36rem;
  opacity: 1;
  border-radius: 25rem;
  font-size: 15rem;
  font-weight: 500;
  text-align: center;
  line-height: 36rem;
  position: absolute;
  right: 4rem;
  top: 4rem;
}
#main .divCart .btnSubmit {
  color: white;
  background: #d8d8d8;
}
#main .divCart .btnSubmitActive {
  color: #333333;
  background: #ffc200;
}

/* 规格弹框样式 */
#main .configDialog {
  background: #ffffff;
}
#main .configDialog .dialogTitle {
  margin: 15rem 0 15rem 15rem;
  font-size: 18rem;
  font-weight: 700;
  color: #333333;
  letter-spacing: 0;
  text-align: left;
}
#main .configDialog .divContent {
  margin-left: 15rem;
  margin-right: 15rem;
  overflow: auto;
  max-height: 45vh;
}
#main .configDialog .divContent .configTitle {
  height: 20rem;
  opacity: 1;
  font-size: 12rem;
  font-weight: 400;
  text-align: left;
  color: #666666;
  line-height: 20rem;
  letter-spacing: 0;
  margin-bottom: 10rem;
  margin-top: 10rem;
}
#main .configDialog .divContent span {
  display: inline-block;
  height: 25rem;
  opacity: 1;
  background: #ffffff;
  border: 1rem solid #f1f1f2;
  border-radius: 8rem;
  line-height: 25rem;
  padding: 0 14rem;
  margin: 0 5rem 10rem 5rem;
  font-size: 13rem;
  font-weight: 500;
  text-align: center;
  color: #333333;
}
#main .configDialog .divContent .spanActive {
  background: #fffbf1;
  border: 1rem solid #ff9741;
  color: #ff8000;
  font-weight: 500;
}
#main .configDialog .divBottom {
  margin: 20rem 0 20rem 15rem;
  display: flex;
  position: relative;
}
#main .configDialog .divBottom .price {
  height: 30rem;
  opacity: 1;
  font-size: 25rem;
  font-family: DIN, DIN-Medium;
  font-weight: 500;
  text-align: left;
  color: #e94e3c;
  line-height: 30rem;
  letter-spacing: 0;
}
#main .configDialog .divBottom .price span {
  font-size: 14rem;
}
#main .configDialog .divBottom .toCart {
  width: 100rem;
  height: 30rem;
  opacity: 1;
  background: #ffc200;
  border-radius: 15rem;
  text-align: center;
  line-height: 30rem;
  position: absolute;
  right: 20rem;
  font-size: 14rem;
  font-weight: 500;
  color: #333333;
}
#main .configDialog .divBottom .num {
  position: absolute;
  right: 20rem;
  display: flex;
  line-height: 35rem;
}
#main .configDialog .divBottom .num img {
  width: 35rem;
  height: 35rem;
}
#main .configDialog .divBottom .num .goodsNum {
  font-size: 14rem;
  font-weight: 500;
  margin: 0 4rem;
}
#main .configDialog .divClose {
  position: absolute;
  bottom: -70rem;
  left: 50%;
  transform: translate(-50%, 0);
}
#main .configDialog .divClose img {
  width: 44rem;
  height: 44rem;
}

/* 商品详情样式 */
#main .commodityDialog {
  display: flex;
  flex-direction: column;
  text-align: center;
}
#main .commodityDialog .divContainer {
  padding: 20rem 20rem 0 20rem;
  overflow: auto;
  max-height: 50vh;
}
#main .commodityDialog .van-image {
  width: 150rem;
  height: 160rem;
  border-radius: 5rem;
}
#main .commodityDialog .van-image__error {
  border-radius: 5rem;
}
#main .commodityDialog .title {
  height: 28rem;
  opacity: 1;
  font-size: 20rem;
  font-weight: 600;
  color: #333333;
  line-height: 28rem;
  letter-spacing: 0;
  margin-top: 18rem;
  margin-bottom: 11rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 100%;
}
#main .commodityDialog .content {
  opacity: 1;
  font-size: 14rem;
  font-weight: 400;
  text-align: justify;
  color: #333333;
  line-height: 24rem;
}
#main .commodityDialog .divNum {
  display: flex;
  justify-content: space-between;
  margin: 20rem 20rem 25rem 20rem;
  position: relative;
}
#main .commodityDialog .divNum .left {
  height: 30rem;
  font-size: 25rem;
  font-family: DIN, DIN-Medium;
  font-weight: 500;
  text-align: left;
  color: #e94e3c;
  line-height: 30rem;
  letter-spacing: 0;
}
#main .commodityDialog .divNum .left span:first-child {
  font-size: 12rem;
}
#main .commodityDialog .divNum .right {
  display: flex;
}
#main .commodityDialog .divNum .divTypes {
  width: 75rem;
  height: 30rem;
  opacity: 1;
  background: #ffc200;
  border-radius: 15rem;
  font-size: 14rem;
  font-weight: 500;
  text-align: center;
  color: #333333;
  line-height: 30rem;
  letter-spacing: 0;
}
#main .commodityDialog .divNum img {
  width: 36rem;
  height: 36rem;
}
#main .commodityDialog .detailsDialogClose {
  position: absolute;
  bottom: -70rem;
  left: 50%;
  transform: translate(-50%, 0);
}
#main .commodityDialog .detailsDialogClose img {
  width: 44rem;
  height: 44rem;
}

/* 套餐详情样式 */
#main .comboDialog {
  display: flex;
  flex-direction: column;
  text-align: center;
}
#main .comboDialog .divContainer {
  padding: 20rem 20rem 0 20rem;
  overflow: auto;
  max-height: 50vh;
}
#main .comboDialog .van-image {
  width: 150rem;
  height: 160rem;
  border-radius: 5rem;
}
#main .comboDialog .van-image__error {
  border-radius: 5rem;
}
#main .comboDialog .title {
  height: 28rem;
  opacity: 1;
  font-size: 20rem;
  font-weight: 600;
  color: #333333;
  line-height: 28rem;
  letter-spacing: 0;
  margin-top: 18rem;
  margin-bottom: 11rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 100%;
}
#main .comboDialog .items {
  border-bottom: 1rem dashed #cacdd1;
  margin-bottom: 10rem;
}
#main .comboDialog .items .subTitle {
  margin-top: 10rem;
  margin-bottom: 5rem;
  height: 25rem;
  opacity: 1;
  font-size: 16rem;
  font-weight: 600;
  text-align: left;
  color: #333333;
  line-height: 25rem;
  letter-spacing: 0;
  position: relative;
}
#main .comboDialog .items .subTitle .price {
  position: absolute;
  right: 0;
  top: 0;
  font-size: 18rem;
  font-family: DIN, DIN-Medium;
  font-weight: 500;
  text-align: left;
  color: #e94e3c;
  line-height: 25rem;
  letter-spacing: 0;
}
#main .comboDialog .items .subTitle .price span:first-child {
  font-size: 12rem;
}
#main .comboDialog .content {
  opacity: 1;
  font-size: 14rem;
  font-weight: 400;
  text-align: justify;
  color: #333333;
  line-height: 24rem;
}
#main .comboDialog .divNum {
  display: flex;
  justify-content: space-between;
  margin: 20rem 20rem 25rem 20rem;
}
#main .comboDialog .divNum .left {
  height: 30rem;
  font-size: 25rem;
  font-family: DIN, DIN-Medium;
  font-weight: 500;
  text-align: left;
  color: #e94e3c;
  line-height: 30rem;
  letter-spacing: 0;
}
#main .comboDialog .divNum .left span:first-child {
  font-size: 12rem;
}
#main .comboDialog .divNum .right {
  display: flex;
}
#main .comboDialog .divNum .divTypes {
  width: 75rem;
  height: 30rem;
  opacity: 1;
  background: #ffc200;
  border-radius: 15rem;
  font-size: 14rem;
  font-weight: 500;
  text-align: center;
  color: #333333;
  line-height: 30rem;
  letter-spacing: 0;
}
#main .comboDialog .divNum img {
  width: 36rem;
  height: 36rem;
}
#main .comboDialog .detailsDialogClose {
  position: absolute;
  bottom: -70rem;
  left: 50%;
  transform: translate(-50%, 0);
}
#main .comboDialog .detailsDialogClose img {
  width: 44rem;
  height: 44rem;
}

/* 购物车弹框样式 */
#main .dialogCart .divCartTitle {
  height: 50rem;
  display: flex;
  line-height: 55rem;
  position: relative;
  margin-left: 15rem;
  margin-right: 15rem;
  border-bottom: 1px solid #efefef;
}
#main .dialogCart .divCartTitle .title {
  font-size: 14rem;
  font-weight: 600;
  text-align: left;
  color: #333333;
}
#main .dialogCart .divCartTitle .clear {
  position: absolute;
  right: 0;
  top: 55%;
  transform: translate(0, -50%);
  color: #999999;
  font-size: 12rem;
  font-weight: 400;
  text-align: left;
}
#main .dialogCart .divCartTitle span {
  vertical-align: middle;
}
#main .dialogCart .divCartContent {
  overflow: auto;
  max-height: 65vh;
  margin-bottom: 50rem;
}
#main .dialogCart .divCartItem {
  height: 100rem;
  margin-left: 15rem;
  margin-right: 15rem;
  display: flex;
  align-items: center;
  position: relative;
}
#main .dialogCart .divCartContent .van-image {
  width: 65rem;
  height: 65rem;
  border-radius: 5rem;
  margin-right: 10rem;
}
#main .dialogCart .divCartContent .van-image__error {
  border-radius: 5rem;
}
#main .dialogCart .divCartContent .divDesc .name {
  height: 20rem;
  opacity: 1;
  font-size: 15rem;
  font-weight: 600;
  text-align: left;
  color: #333333;
  letter-spacing: 0;
  margin-bottom: 2rem;
}
#main .dialogCart .divCartContent .divDesc .config {
  color: #666666;
  font-size: 11rem;
  margin-bottom: 2rem;
}
#main .dialogCart .divCartContent .divDesc .price {
  font-size: 20rem;
  font-family: DIN, DIN-Medium;
  font-weight: 400;
  text-align: left;
  color: #e94e3c;
}
#main .dialogCart .divCartContent .divDesc .price .spanMoney {
  font-size: 12rem;
}
#main .dialogCart .divCartContent .divCartItem .divNum {
  position: absolute;
  right: 0;
  bottom: 10rem;
  display: flex;
  line-height: 30rem;
  height: 35rem;
}
#main .dialogCart .divCartContent .divCartItem .divNum img {
  width: 30rem;
  height: 30rem;
}
#main .dialogCart .divCartContent .divCartItem .divNum .divGoodsNum {
  font-size: 13rem;
  margin: 0 3rem;
}
#main .dialogCart .divCartContent .divCartItem .divSplit {
  width: calc(100% - 64rem);
  position: absolute;
  bottom: 0;
  right: 0;
  height: 1rem;
  opacity: 1;
  background-color: #efefef;
}
#main .dialogCart .divCartContent .divCartItem:last-child .divSplit {
  height: 0;
}