/* 导航栏样式 */
#order .divHead {
  width: 100%;
  height: 46rem;
  background: #ffffff;
  position: relative;
}
#order .divHead .divTitle {
  width: 100%;
  font-size: 16rem;
  text-align: center;
  line-height: 46rem;
  letter-spacing: 0;
  position: absolute;
}
#order .divHead .divTitle i {
  position: absolute;
  left: 8rem;
  top: 30%;
}

/* 主体样式 */
#order .divContent {
  height: calc(100vh - 50px);
  overflow-y: auto;
  padding: 0 10rem;
}
#order .divContent .divItem {
  background: #ffffff;
  border-radius: 8rem;
  margin-top: 10rem;
  padding: 0 12rem;
  position: relative;
}
#order .divContent .divItem .head {
  height: 45rem;
  line-height: 45rem;
  text-align: left;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#order .divContent .divItem .head .time {
  font-size: 16rem;
  font-weight: 600;
  color: #333333;
}
#order .divContent .divItem .head .status {
  font-size: 14rem;
  font-weight: 400;
  color: #666666;
}
#order .divContent .divItem .details {
  height: 90rem;
  padding-top: 5rem;
  padding-bottom: 15rem;
}
#order .divContent .divItem .details .goods {
  white-space: nowrap;
  overflow-x: scroll;
  padding-right: 50rem;
  box-sizing: border-box;
}
#order .divContent .divItem .details .goods::-webkit-scrollbar {
  display: none;
}
#order .divContent .divItem .details .goods .item {
  white-space: nowrap;
  display: inline-block;
  text-align: center;
  width: 80rem;
  margin-right: 5rem;
}
#order .divContent .divItem .details .goods .item .van-image {
  width: 65rem;
  height: 65rem;
  border-radius: 5rem;
  opacity: 1;
}
#order .divContent .divItem .details .goods .item .van-image__error {
  border-radius: 5rem;
}
#order .divContent .divItem .details .goods .item .name {
  font-size: 14rem;
  font-weight: 400;
  color: #666666;
  letter-spacing: 0;
  overflow: hidden;
  text-overflow: ellipsis;
}
#order .divContent .divItem .details .result {
  position: absolute;
  right: 5rem;
  top: 50rem;
  height: 90rem;
  width: 50rem;
  text-align: center;
  background: rgba(255, 255, 255, 0.8);
}
#order .divContent .divItem .details .result > div {
  padding: 25rem 0;
}
#order .divContent .divItem .details .result .amount {
  font-size: 14rem;
  font-weight: 600;
  color: #333333;
}
#order .divContent .divItem .details .result .goodsNum {
  font-size: 14rem;
  font-weight: 400;
  color: #666666;
  letter-spacing: 2rem;
}
#order .divContent .divItem .bottom {
  display: flex;
  justify-content: flex-end;
  padding-bottom: 15rem;
}
#order .divContent .divItem .bottom .btnAgain {
  width: 70rem;
  height: 30rem;
  border: 1rem solid #e5e4e4;
  border-radius: 5rem;
  font-size: 12rem;
  font-weight: 600;
  text-align: center;
  color: #333333;
  line-height: 30rem;
  letter-spacing: 0;
  position: relative;
}

/* 无订单样式 */
#order .divNoOrder {
  width: 100%;
  height: calc(100% - 230rem);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#order .divNoOrder .divContainer img {
  width: 240rem;
  height: 130rem;
}
#order .divNoOrder .divContainer div {
  font-size: 14rem;
  font-weight: 400;
  text-align: center;
  color: #666666;
  margin-top: 20rem;
}
