/* 导航栏 */
#user_edit .divHead {
  width: 100%;
  height: 46rem;
  background: #ffffff;
  position: relative;
}
#user_edit .divHead .divTitle {
  width: 100%;
  font-size: 16rem;
  text-align: center;
  line-height: 46rem;
  letter-spacing: 0;
  position: absolute;
}
#user_edit .divHead .divTitle i {
  position: absolute;
  left: 8rem;
  top: 30%;
}

/* 头像 */
#user_edit .avatar {
  padding-top: 40rem;
  padding-bottom: 45rem;
  background-color: #ffffff;
  text-align: center;
}
#user_edit .avatar .van-uploader__upload {
  width: 110rem;
  height: 110rem;
  border-radius: 50%;
}
#user_edit .avatar .van-image {
  width: 110rem;
  height: 110rem;
}

/* 个人信息 */
#user_edit .divContainer {
  opacity: 1;
  background: #ffffff;
  margin-top: 10rem;
  position: relative;
}
#user_edit .divContainer .van-field {
  height: 60rem;
  align-items: center;
}
#user_edit .divContainer .van-field .van-field__label {
  width: 60rem;
  font-size: 14rem;
  color: #aaaaaa;
}
#user_edit .divContainer .divSplit {
  height: 1rem;
  background-color: #efefef;
  border: 0;
  margin-left: 85rem;
  margin-right: 10rem;
}
#user_edit .divContainer .email .operate {
  color: #ffc200;
}

/* 保存按钮 */
#user_edit .btnSave {
  width: 356rem;
  height: 40rem;
  margin: 20rem 10rem 0 10rem;
  border-radius: 8px;
  border: 0;
  font-size: 15rem;
  font-weight: 500;
  text-align: center;
  background: #ffc200;
  color: #666666;
}

/* Email修改弹框 */
#user_edit .emailDialog {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 20rem;
  width: 75%;
}
#user_edit .emailDialog .head .title {
  color: #333333;
  font-size: 16rem;
  font-weight: 600;
  margin-bottom: 12rem;
}
#user_edit .emailDialog .head .tip {
  text-align: left;
  color: #777777;
  font-size: 13rem;
}
#user_edit .emailDialog .container {
  opacity: 1;
  background: #ffffff;
  margin-top: 12rem;
  margin-bottom: 20rem;
  position: relative;
}
#user_edit .emailDialog .container .van-field {
  height: 50rem;
  align-items: center;
  padding: 0;
  border-bottom: 1rem solid #efefef;
}
#user_edit .emailDialog .container .email span {
  font-size: 14rem;
}
#user_edit .emailDialog .container .code .van-button {
  background-color: #ffffff;
  color: #ffc200;
  border: none;
  font-size: 14rem;
}
#user_edit .emailDialog .container .code .van-button--disabled {
  opacity: 1;
  color: #c0c4cc;
}
#user_edit .emailDialog .container .code .van-button::before {
  background-color: #ffffff;
}
#user_edit .emailDialog .btnConfirm {
  width: 100%;
  height: 40rem;
  border-radius: 8px;
  border: 0;
  font-size: 15rem;
  font-weight: 500;
  text-align: center;
  background: #ffc200;
  color: #666666;
  opacity: 1;
}
#user_edit .emailDialog .dialogClose {
  position: absolute;
  bottom: -70rem;
  left: 50%;
  transform: translate(-50%, 0);
}
#user_edit .emailDialog .dialogClose img {
  width: 40rem;
  height: 40rem;
}