.dashboard-container {
  padding: 20px;
}
.dashboard-container .container {
  background: #fff;
  position: relative;
  z-index: 1;
  padding: 30px 28px;
  border-radius: 4px;
}
.dashboard-container .container .tableBar {
  display: flex;
  margin-bottom: 20px;
  justify-content: space-between;
}
.dashboard-container .container .tableBox {
  width: 100%;
  border: solid 2px #f3f4f7;
  border-radius: 2px;
}

.dashboard-container .container .tableBox .el-image img {
  width: 40px;
  border-radius: 5px;
}

.dashboard-container .container .pageList {
  text-align: center;
  margin-top: 30px;
}

.dashboard-container .container .tableLab .span-btn {
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  padding: 0 20px;
  color: #818693;
  border-right: solid 1px #d8dde3;
}

.dashboard-container .container .tableLab .el-button {
  margin-left: 10px;
}

.el-table-column--selection .cell {
  padding-left: 10px;
}

.addBrand-container .avatar-uploader .el-upload {
  border: 1px dashed #d9d9d9;
  border-radius: 6px;
  cursor: pointer;
  position: relative;
  overflow: hidden;
}
.addBrand-container .avatar-uploader .el-upload:hover {
  border-color: #409eff;
}
.addBrand-container .avatar-uploader-icon {
  font-size: 28px;
  color: #8c939d;
  width: 200px;
  height: 160px;
  line-height: 160px;
  text-align: center;
}
.addBrand-container .avatar {
  width: 160px;
  height: 160px;
  display: block;
}
.addBrand-container .el-form--inline .el-form-item__content {
  width: 293px;
}
.addBrand-container .el-input {
  width: 293px;
}

.addBrand-container {
  margin: 30px;
}
.addBrand-container .container {
  position: relative;
  z-index: 1;
  background: #fff;
  padding: 30px;
  border-radius: 4px;
  min-height: 500px;
}
.addBrand-container .container .subBox {
  padding-top: 30px;
  text-align: center;
  border-top: solid 1px #f3f4f7;
}
.addBrand-container .address .el-form-item__content {
  width: 777px !important;
}
.el-table .cell,
.el-table th div,
.el-table--border td:first-child .cell,
.el-table--border th:first-child .cell {
  padding-left: 12px;
}

/* commodity/combo - add/edit - config */
.configBox {
  width: 777px;
}
.configBox .config {
  border: solid 1px #dfe2e8;
  border-radius: 4px;
  padding: 15px;
  background: #fafafb;
}
.configBox .config .tip {
  color: #606168;
}
.configBox .config .configMain .items {
  display: flex;
  margin: 10px 0;
}
.configBox .config .configMain .items .name {
  width: 150px;
  margin-right: 15px;
}
.configBox .config .configMain .items .name input {
  width: 100%;
  line-height: 40px;
  border-radius: 4px;
  padding: 0 10px;
}
.configBox .config .configMain .items .label {
  flex: 1;
  display: flex;
  flex-wrap: wrap;
  border-radius: 4px;
  min-height: 39px;
  border: solid 1px #d8dde3;
  background: #fff;
  padding: 0 5px;
}
.configBox .config .configMain .items .label .tag {
  font-size: 14px;
  color: #f19c59;
  margin: 7px 5px;
  line-height: 23px;
  height: 25px;
}
.configBox .config .configMain .items .label .inputBox {
  display: inline-block;
  width: 100%;
  height: 36px;
  line-height: 36px;
  overflow: hidden;
}
.configBox .config .configMain .items .delConfig {
  display: inline-block;
  padding: 0 10px;
  color: #f19c59;
  cursor: pointer;
}
.selectInput {
  position: relative;
  width: 100%;
  min-width: 100px;
}
.selectInput .configSelect {
  position: absolute;
  width: 100%;
  padding: 0 10px;
  border-radius: 4px;
  border: solid 1px #FF903D;
  line-height: 30px;
  text-align: center;
  background: #fff;
  top: 50px;
  z-index: 99;
}
.selectInput .configSelect .items {
  cursor: pointer;
  display: inline-block;
  width: 100%;
  line-height: 35px;
  border-bottom: solid 1px #f4f4f4;
  color: #666;
}

/* combo - add/edit */
.CommodityBox {
  width: 777px;
}
.CommodityBox .content {
  background: #fafafb;
  padding: 20px;
  border: solid 1px #ccc;
  border-radius: 4px;
}
.CommodityBox .el-input {
  width: 130px;
}
.CommodityBox input {
  border: 1px solid #ffe1ca;
}
.CommodityBox .el-input-number__increase {
  border-left: solid 1px #FFE1CA;
  background: #fff3ea;
}
.CommodityBox .el-input-number__decrease {
  border-right: solid 1px #FFE1CA;
  background: #fff3ea;
}
.CommodityBox .table {
  width: 100%;
  border: solid 2px #f3f4f7;
  border-radius: 4px;
  margin-top: 10px;
}
.CommodityBox .table th {
  padding: 5px 0;
}
.CommodityBox .table td {
  padding: 5px 0;
}

.addDialog .search {
  position: absolute;
  top: 16px;
  right: 20px;
  width: 250px;
}
.addDialog .el-dialog__body {
  height: 321px;
  overflow-y: auto;
  padding: 0;
  border-bottom: 1px solid #e5e4e4;
}
.addDialog .el-dialog__footer {
  padding-top: 20px;
  padding-bottom: 20px;
}
.addMain {
  padding: 0 20px;
  display: flex;
  line-height: 40px;
}
.addMain .leftPart {
  display: flex;
  border-right: 1px solid #e5e4e4;
  width: 60%;
}
.addMain .leftPart .categoryTab {
  width: 100px;
  border-right: 1px solid #e5e4e4;
}
.addMain .leftPart .categoryTab span {
  display: block;
  text-align: center;
  cursor: pointer;
}
.addMain .leftPart .line {
  color: #FFC200 !important;
}
.addMain .leftPart .commodityTab {
  flex: 1;
  padding: 15px;
}
.addMain .leftPart .commodityTab .table {
  border: solid 1px #f4f4f4;
}
.addMain .leftPart .commodityTab .table .items {
  border-bottom: solid 1px #f4f4f4;
  padding: 0 10px;
  display: flex;
}
.addMain .leftPart .commodityTab .table .items .el-checkbox,
.addMain .leftPart .commodityTab .table .items .el-checkbox__label {
  width: 100%;
}
.addMain .leftPart .commodityTab .table .items .item {
  display: flex;
  padding-right: 20px;
}
.addMain .leftPart .commodityTab .table .items .item span {
  display: inline-block;
  text-align: center;
  flex: 1;
}
.addMain .rightPart {
  width: 40%;
  padding: 0 15px;
}
.addMain .rightPart .item {
  box-shadow: 0 1px 4px 3px rgba(0, 0, 0, 0.03);
  display: flex;
  padding: 0 10px;
  margin-bottom: 5px;
  border-radius: 5px;
}
.addMain .rightPart .item .name {
  flex: 2;
  text-align: left;
  color: #20232A;
}
.addMain .rightPart .item .price {
  flex: 1;
}
.addMain .rightPart .item .delete {
  cursor: pointer;
}
.addMain .el-checkbox__label{
  width: 100%;
}

/* order - list */
#order-app .tableBar{
  justify-content: flex-start;
}
#order-app .blueBug:last-child::after {
  border: none !important;
}

#order-app .el-dialog__body {
  height: 430px;
  overflow-y: auto;
  padding: 25px 25px 10px;
}
#order-app .el-card__header {
  padding: 15px 20px;
  font-size: 14px;
  font-weight: 700;
  color: #333333;
}
#order-app .el-card__body {
  padding: 0 20px 15px 20px;
}
#order-app .el-card__body .item {
  margin-top: 15px;
  display: flex;
}
#order-app .el-card__body .item .name {
  width: 30%;
  font-size: 14px;
  color: #333333;
}
#order-app .el-card__body .item .configNumber {
  width: 60%;
  font-size: 14px;
  color: #666666;
}
#order-app .el-card__body .item .amount {
  width: 10%;
  font-size: 14px;
  color: #333333;
}

#order-app .el-descriptions__header {
  margin-top: 15px;
  margin-bottom: 10px;
}
#order-app .el-descriptions__header .el-descriptions__title {
  font-size: 14px;
  font-weight: 700;
  color: #333333;
}
#order-app .el-descriptions-item__container .el-descriptions-item__content {
  font-size: 14px;
  color: #333333;
}
#order-app .el-descriptions-item__container .el-descriptions-item__label {
  font-size: 14px;
  color: #666666;
}